body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px; /* Sets the font size to 16px */
  line-height: 1.6;/* Sets the line-height to 1.6 */
  margin: 10px;
  text-align: center;
}

main {
  padding-top: 30px;
}

#app-logo {
  width: 200px;
  height: 50px;
  padding-left: 40px;
}

#loading_message {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0.7;
  background-color: #fff;
}

.pokemon-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-pokemon {
  background-color: #FDDA0D;
  border: 0;
  border-radius: 56px;
  color: #000;
  width:100%;
  margin: 5px;
  cursor: pointer;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-pokemon:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-pokemon:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

/*modal style*/
#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  font-size: 20px;

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 50%;
  max-width: 700px;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
  color: #557B83;
}

.modal p {
  margin-bottom: 0;
  color: #39AEA9;
}

.modal-img {
  width: 200px;
  height: auto;
}

#modal-container {
  display: none;
}

/* defines up to which screen size the rule should be applied,
overwrite rules above */
@media all and (max-width: 550px) {
  body {
    font-size: 12px;
  }

  #app-logo {
    width: 100px;
    height: 25px;
  }

  .button-pokemon {
    width: 100px;
  }

  #modal-container.is-visible {
    font-size: small;
  }

  .modal-img {
  width: 100px;
  height: auto;
  }
}
