body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px; /* Sets the font size to 16px */
  line-height: 1.6;/* Sets the line-height to 1.6 */
  margin: 10px;
  text-align: center;
}

main {
  padding-top: 30px;
}

#app-logo {
  width: 200px;
  height: 50px;
  padding-left: 40px;
}

#loading_message {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0.7;
  background-color: #fff;
}

.pokemon-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-row-gap: 20px;
  grid-column-gap: 100px;
  margin: 30px 70px 70px 70px;
  align-items: center;
}

.button-pokemon {
  background-color: rgb(194, 48, 48);
  border: 0;
  border-radius: 2em;
  box-sizing: border-box;
  color: #fff;
  width:100%;
  margin: 5px;
  cursor: pointer;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-pokemon:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 2em;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-pokemon:hover {
  border-color: rgb(30, 66, 167);
    background-color: rgb(255,233,0);
    color: rgb(37, 39, 201);

}
